* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background-color: rgba(69, 142, 172, 0.7);
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.sidebar-header {
    display: flex;
    justify-content: center;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 50%;
}

.sidebar-nav ul li {
    margin: 15px 0;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: color 0.3s;
}

.sidebar-nav ul li a:hover {
    color: #4e8cff;
}

.topbar .social-links {
    display: flex;
    gap: 20px;
}

.social-icon {
    color: white;
    font-size: 30px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #4e8cff;
}

.topbar {
    width: 100%;
    background-color: rgb(69, 142, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.573);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.topbar-logo-img {
    width: 80px;
    height: auto;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    border: 0;
    border-radius: 12px;
    background-color: rgb(69, 142, 172);
    outline: none;
    color: white;
  }
  
  .input::placeholder {
    color: white;
  }
  
  .input:hover {
    box-shadow: 0 0 0 2.5px white, 0px 0px 25px -15px white;
  }

  
  .input:focus {
    box-shadow: 0 0 0 2.5px white;
  }
  
  .search-icon {
    position: absolute;
    left: 1rem;
    fill: white;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
  }
  
.back-button {
    display: none; /* Escondido por padrão */
}

.back-button a {
    text-decoration: none;
    color: #1e3a5f;
    font-size: 24px; 
    font-weight: bold;
}

.chat-container {
    margin-left: 40%;
    margin-top: 8%;
    width: 600px; /* Aumenta a largura do chat */
    height: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(69, 142, 172);
}

.chat-box {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    white-space: pre-wrap;
    overflow: visible; /* Remove a rolagem */
    max-height: none; /* Sem limite de altura */
}

.message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    width: 100%;
}

.message-form input {
    width: 100%; /* O campo de entrada ocupa toda a largura disponível */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    resize: none; /* Impede o redimensionamento da caixa de texto */
    overflow: visible; /* Garante que o campo de entrada não tenha rolagem */
    height: 40px; /* Definindo uma altura fixa para o campo de entrada */
}

.message-form input:focus {
    border-color: #1b386d;
}

.message-form button { 
    background-color: #1b386d;
    font-size: 15px;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.message-form button:hover {
    background-color: #3d629d;
}

.message {
    max-width: 80%;
    padding: 12px 18px;
    border-radius: 20px;
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
    white-space: pre-wrap; /* Quebra de linha automática */
    word-wrap: break-word;
}
.message.sent {
    background-color: #1b386d;
    color: white;
    align-self: flex-end;
}

.message.received {
    background-color: #cadaee;
    color: black;
}


.message.received::after,
.message.sent::after {
    content: none;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .sidebar {
        display: none; /* Esconder a barra lateral no modo celular */
    }

    .topbar {
        padding: 10px 20px;
    }

    .topbar-search input {
        width: 150px;
    }

    .back-button {
        display: block; /* Mostrar o botão de volta no modo celular */
    }

    .chat-container {
        margin: auto; /* Centralizar o chat no modo celular */
        width: 90%; /* Aumenta a largura do chat */
        max-width: 600px;
        margin-top: 40%;
        height: 65vh; /* Aumenta a altura do chat */
    }
}

/* Modo dark */

.dark-mode {
    background-color: #315594;
    color: #d3d3d3;
}

.dark-mode .sidebar {
    background-color: #0f264f;
    color: #d3d3d3;
}

.dark-mode .sidebar-nav ul li a {
    color: #d3d3d3;
}
.dark-mode .input{
    background-color: #14133a;
}
.dark-mode .topbar {
    background-color: #3b75e0;
    color: #d3d3d3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.422);
}

.dark-mode .topbar-search input {
    background-color: #3b75e0;
    border-color: white;
}

.dark-mode .back-button a {
    color: #d3d3d3;
}

.dark-mode .chat-container {
    background-color: #3b75e0;
    color: #d3d3d3;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.dark-mode .message-form input {
    background-color: #3b75e0;
    color: #d3d3d3;
    border-color: white;
}

.dark-mode .message.sent {
    background-color: #1e4999;
}

.dark-mode .message.received {
    background-color: #5882cf;
    color: #d3d3d3;
}
