* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


/* Estilos gerais */
body {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: background-color 0.3s, color 0.3s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button-step {
  background-color: #ffffff; /* Cor de fundo padrão */
  color: #000000; /* Texto padrão */
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #ffffff; 
}
.navbar {
  justify-content: center;
  background-color: rgb(69, 142, 172); 
  padding: 10px 0;
  animation: slideDown 0.5s forwards;
  font-family: 'Montserrat', sans-serif; 
}
.navbar-container {
  display: flex;
  align-items: center;
  max-width: 1200px; /* Limitar largura da navbar */
  width: 100%;
  padding: 0 20px; /* Espaçamento lateral */
  font-family: 'Montserrat', sans-serif; /* Adiciona a fonte Montserrat */
}

.logo {
  width: 100px; /* Largura da logo */
  margin-left: 14px; /* Move para a direita */
  font-family: 'Montserrat', sans-serif; /* Adiciona a fonte Montserrat */
}

.nav-buttons {
  display: flex;
  gap: 10px;
  font-family: 'Montserrat', sans-serif; /* Adiciona a fonte Montserrat */
}

.nav-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.3s;
  font-size: 16px;
  position: relative;
  font-family: 'Montserrat', sans-serif; /* Adiciona a fonte Montserrat */
}

.nav-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: background-color 0.3s;
}

.nav-button:hover {
  color: rgba(255, 255, 255, 0.9);
}

.nav-button:hover::after {
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-button:active {
  transform: scale(0.95);
}

.menu-icon {
  display: none; /* Oculta o ícone por padrão */
  cursor: pointer; /* Cursor de pointer para o ícone */
  font-size: 24px; /* Tamanho do ícone */
  color: white; /* Cor do ícone */
  margin-left: auto; /* Mover para a extremidade direita */
}


.hero-section {
  background: linear-gradient(135deg, rgb(69, 142, 172), rgba(69, 142, 172, 0.7));
  color: white;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  overflow: hidden;
}

.hero-content {
  animation: fadeIn 1s ease-in-out;
}

.switch {
  font-size: 17px;
  position: relative;
  margin-left: 30px;
  display: inline-block;
  width: 5em;
  height: 2.5em;
}

/* Esconde o checkbox HTML padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* O slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* O círculo (indicador) */
.slider:before {
  position: absolute;
  content: "";
  height: 1.8em;
  width: 1.8em;
  border-radius: 50%;
  background-color: rgb(17, 14, 78);
  transition: .4s;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}


.icon-sun, .icon-moon {
  font-size: 1.2em;  
  color: #fff;
  transition: opacity 0.4s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Posição do ícone de sol */
.icon-sun {
  left: 6px;
  opacity: 1;
}

/* Posição do ícone de lua */
.icon-moon {
  right: 10px;
  opacity: 0;
}

/* Quando o input está marcado (modo dark) */
input:checked + .slider {
  background-color: #5b92df;
}

/* Quando o input está marcado, move o círculo e exibe o ícone da lua */
input:checked + .slider:before {
  transform: translateX(2.5em) translateY(-50%);
}

/* Mostra o ícone da lua quando o input está marcado */
input:checked + .slider .icon-moon {
  opacity: 1;
}

/* Esconde o ícone do sol quando o input está marcado */
input:checked + .slider .icon-sun {
  opacity: 0;
}


.hero-section {
  background: linear-gradient(135deg,     rgb(69, 142, 172), rgba(69, 142, 172, 0.7)); /* Azul claro no modo normal */
  color: white;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  overflow: hidden;
}

/* Modo escuro para a hero-section */
body.dark-mode .hero-section {
  background: linear-gradient(135deg, #1c2a3b, #0d1524);
}