* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Estilos gerais */
body {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button-step {
    background-color: #ffffff; /* Cor de fundo padrão */
    color: #000000; /* Texto padrão */
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffffff; 
}
.navbar {
    justify-content: center;
    background-color: rgb(69, 142, 172); 
    padding: 10px 0;
    animation: slideDown 0.5s forwards;
    font-family: 'Montserrat', sans-serif; 
}
.navbar-container {
    display: flex;
    align-items: center;
    max-width: 1200px; /* Limitar largura da navbar */
    width: 100%;
    padding: 0 20px; /* Espaçamento lateral */
    font-family: 'Montserrat', sans-serif; /* Adiciona a fonte Montserrat */
}

.logo {
    width: 100px; /* Largura da logo */
    margin-left: 14px; /* Move para a direita */
    font-family: 'Montserrat', sans-serif; /* Adiciona a fonte Montserrat */
}

.nav-buttons {
    display: flex;
    gap: 10px;
    font-family: 'Montserrat', sans-serif; /* Adiciona a fonte Montserrat */
}

.nav-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s;
    font-size: 16px;
    position: relative;
    font-family: 'Montserrat', sans-serif; /* Adiciona a fonte Montserrat */
}

.nav-button::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: background-color 0.3s;
}

.nav-button:hover {
    color: rgba(255, 255, 255, 0.9);
}

.nav-button:hover::after {
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-button:active {
    transform: scale(0.95);
}

.hero-section {
    background: linear-gradient(135deg, rgb(69, 142, 172), rgba(69, 142, 172, 0.7));
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
    font-size: 20px;
}

.hero-content {
    animation: fadeIn 1s ease-in-out;
}

.animated-title {
    font-size: 2.5em;
    opacity: 0;
    animation: slideIn 1s forwards;
}

.animated-description {
    font-size: 1.2em;
    opacity: 0;
    animation: slideIn 1.2s forwards;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.button-step {
    background-color: white;
    color: rgb(69, 142, 172);
    padding: 50px; /* Aumenta o padding para mais espaço interno */
    margin: 10px;
    border-radius: 10px; /* Bordas mais arredondadas */
    width: 45%;
    min-height: 300px; /* Altura mínima aumentada */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Sombra mais proeminente */
    transition: transform 0.3s, box-shadow 0.3s; /* Adiciona transição à sombra */
    text-align: center;
    animation: fadeIn 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-step:hover {
    transform: translateY(-5px); /* Adiciona um efeito de elevação no hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra mais intensa no hover */
}

.animated-subtitle {
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
    margin-bottom: 15px; /* Adiciona espaçamento abaixo do título */
    color: rgb(34, 87, 120); /* Cor do título */
}

.animated-text {
    font-size: 1.2em; /* Aumenta o tamanho da fonte do texto */
    margin-bottom: 20px; /* Espaçamento entre o texto e o botão */
    color: rgb(50, 100, 150); /* Cor do texto */
}

.action-button {
    background-color: rgb(69, 142, 172);
    color: white;
    border: none;
    padding: 15px 30px; /* Aumenta o padding para um botão maior */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.action-button:hover {
    background-color: rgb(50, 120, 150); 
    transform: scale(1.05);
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    .button-step {
        width: 100%;
    }
}

/* Noticias css */

.links-section { 
    padding: 20px;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Espaço abaixo das setas */
}

.nav-button {
    background-color: rgb(69, 142, 172);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
}
.links-section { 
    padding: 20px;
    text-align: center;
}

.links-container {
    display: flex;
    overflow-x: auto; /* Permite rolagem horizontal */
    scroll-behavior: smooth/* Cor de fundo diferente no hover */; /* Suaviza a rolagem */
    padding: 10px 0;
}

.link-item {
    min-width: 250px; /* Largura mínima do item */
    min-height: 350px; /* Altura mínima do item */
    margin: 10px; /* Espaçamento entre os itens */
    border-radius: 5px; /* Bordas arredondadas */
    border: 2px solid rgba(69, 142, 172, 0.5); /* Borda com cor e transparência */
    text-align: center; /* Centraliza o texto */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave para o hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.link-item a {
    display: flex; /* Usar flex para empilhar a imagem e o texto */
    flex-direction: column; /* Empilha a imagem e o texto verticalmente */
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit; /* Herda a cor do pai */
    padding: 0; /* Remove padding para ajustar */
    height: 100%; /* Ocupa toda a altura do container */
}

.link-image {
    width: 100%; /* Imagem ocupa toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px 5px 0 0; /* Bordas arredondadas apenas no topo */
}

.link-item h3,
.link-item p {
    margin: 10px 0; /* Espaçamento entre o título e o parágrafo */
}

.link-item:hover {
    background-color: rgba(69, 142, 172, 0.1); /* Efeito de hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.arrows-container {
    display: flex; /* Alinha as setas em linha */
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 10px; /* Espaçamento acima das setas */
}

.scroll-arrow {
    cursor: pointer;
    font-size: 24px; /* Tamanho do ícone */
    background:  rgb(69, 142, 172); /* Cor do círculo */
    color: white; /* Cor do ícone */
    border-radius: 50%; /* Arredonda as setas */
    padding: 10px; /* Espaçamento interno */
    margin: 0 10px; /* Espaçamento entre as setas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.animated-subtitle {
    opacity: 0;
    animation: slideIn 1.5s forwards;
}

.animated-text {
    opacity: 0;
    animation: fadeIn 1.7s forwards;
}

.action-button {
    background-color: rgb(69, 142, 172);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 14px;
}

.action-button:hover {
    background-color: rgba(69, 142, 172, 0.8);
}

.action-button:active {
    transform: scale(0.95);
}

.button-step:hover {
    transform: translateY(-5px);
}
.button-icon {
    width: 20%; /* Ajuste o tamanho conforme necessário */
    height: 200px;
    margin-bottom: 10px; /* Espaçamento entre a imagem e o título */
}
.info-section,
.team-section,
.laws-section {
    background-color: white;
    color: rgb(69, 142, 172);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s;
}

.section-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-image {
    max-width: 20%;
    height: auto;
    border-radius: 5px;
    animation: slideIn 0.5s forwards;
}

.text-content {
    max-width: 75%;
}

.animated-text {
    animation: fadeIn 2.2s forwards;
    opacity: 0;
}
@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-image {
        max-width: 50%;
        margin-bottom: 20px;
    }

    .text-content {
        max-width: 100%;
    }
}
/* Estilo para a seção da equipe */
.team-section {
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member {
    text-align: center;
    width: 22%; /* Ajustar para ter 4 membros em linha */
    margin-bottom: 20px;
}

.member-photo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.member-photo:hover {
    transform: scale(1.05);
}

/* Estilos existentes... */

/* Estilo para a notificação de privacidade */
.privacy-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; /* Inicialmente escondido */
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* Animação de aparecimento */
}

.notification-header {
    background-color: rgb(69, 142, 172);
    height: 5px;
    border-radius: 10px 10px 0 0; /* Bordas arredondadas no topo */
}

.privacy-notification p {
    margin: 10px 0;
    line-height: 1.5;
}

.privacy-notification button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(69, 142, 172);
    color: white;
    transition: background-color 0.3s;
}

.privacy-notification button:hover {
    background-color: rgba(69, 142, 172, 0.8);
}

/* Adicionando uma animação de fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer {
    background-color: rgb(69, 142, 172);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}


@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

a {
    color: inherit; 
    text-decoration: none;
  }
  
  a:hover, a:focus {
    color: inherit; 
    text-decoration: none;
}

/* Estilo do ícone de menu */
.menu-icon {
    display: none; /* Oculta o ícone por padrão */
    cursor: pointer; /* Cursor de pointer para o ícone */
    font-size: 24px; /* Tamanho do ícone */
    color: white; /* Cor do ícone */
    margin-left: auto; /* Mover para a extremidade direita */
}

/* Estilos da navbar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(69, 142, 172);
    padding: 10px 0;
}

/* Estilo do ícone do menu */
.menu-icon {
    display: none; /* Oculta o ícone por padrão */
    cursor: pointer;
    font-size: 24px; /* Tamanho do ícone */
    color: white; /* Cor do ícone */
    margin-left: auto; /* Mover para a extremidade direita */
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-buttons {
        display: none; /* Oculta os botões padrão */
    }
    
    .menu-icon {
        display: block; /* Exibe o ícone de menu em dispositivos móveis */
    }

    .nav-buttons.show {
        display: flex; /* Mostra os botões quando necessário */
        flex-direction: column; /* Coloca os botões em coluna */
        position: absolute; /* Permite sobreposição */
        background-color: rgb(69, 142, 172); /* Cor do fundo */
        top: 0px; /* Distância do ícone */
        right: 0px; /* Alinha à direita */
        border-radius: 5px; /* Bordas arredondadas */
        z-index: 10; /* Coloca na frente */
    }

    .nav-button {
        width: 80%; /* Botões ocupam toda a largura */
        padding: 10px; /* Ajusta o padding */
        border: none; /* Remove borda */
        background: transparent; /* Fundo transparente */
        color: white; /* Cor do texto */
        text-align: left; /* Alinha texto à esquerda */
        transition: background-color 0.3s; /* Transição suave */
    }

    .nav-button:hover {
        background-color: rgba(255, 255, 255, 0.2); /* Efeito de hover */
    }
}
/* Para telas menores, os botões ficam lado a lado */
@media (max-width: 768px) {
    .buttons-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .button-step {
        margin-left: 20px;
        width: 90%; /* Ajusta a largura para que dois botões caibam lado a lado */
    }
}
                                              /*politica de privacidade */
     .privacy-policy-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
    }
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        max-width: 400px;
        width: 100%;
    }
    .modal-buttons {
        margin-top: 20px;
    }
    .modal-buttons button {
        margin: 0 10px;
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    .modal-buttons button:hover {
        background-color: #0056b3;
    }
                                         /*button tema */
.switch {
    font-size: 17px;
    position: relative;
    margin-left: 30px;
    display: inline-block;
    width: 5em;
    height: 2.5em;
  }
  
  /* Esconde o checkbox HTML padrão */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  /* O círculo (indicador) */
  .slider:before {
    position: absolute;
    content: "";
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    background-color: rgb(17, 14, 78);
    transition: .4s;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  
 
  .icon-sun, .icon-moon {
    font-size: 1.2em;  
    color: #fff;
    transition: opacity 0.4s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Posição do ícone de sol */
  .icon-sun {
    left: 6px;
    opacity: 1;
  }
  
  /* Posição do ícone de lua */
  .icon-moon {
    right: 10px;
    opacity: 0;
  }
  
  /* Quando o input está marcado (modo dark) */
  input:checked + .slider {
    background-color: rgba(255, 255, 255, 0.641);
  }
  
  /* Quando o input está marcado, move o círculo e exibe o ícone da lua */
  input:checked + .slider:before {
    transform: translateX(2.5em) translateY(-50%);
  }
  
  /* Mostra o ícone da lua quando o input está marcado */
  input:checked + .slider .icon-moon {
    opacity: 1;
  }
  
  /* Esconde o ícone do sol quando o input está marcado */
  input:checked + .slider .icon-sun {
    opacity: 0;
  }
  
  

                                                /* Modo escuro */

/* Corpo do site no modo escuro */
body.dark-mode { 
    background-color: rgb(13, 19, 33); /* Azul escuro */
    color: rgb(220, 220, 220); /* Cor clara para o texto */
}

/* Estilo dos botões */
.button-step {
    background-color: #ffffff; /* Botões claros no modo padrão */
    color: #000000;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para o botão no modo escuro */
body.dark-mode .button-step {
    background-color: #0d1524; /* Azul bem escuro para botões */
    color: #ffffff;
}

/* Estilo da barra de navegação */
.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(69, 142, 172); /* Azul claro para o modo normal */
    padding: 10px 0;
    position: sticky;
    top: auto;
    z-index: 10;
    animation: slideDown 0.5s forwards;
    font-family: 'Montserrat', sans-serif;
}

/* Modo escuro para a navbar */
body.dark-mode .navbar {
    background-color: #1c253b; /* Azul bem escuro */
}

/* Botões da navbar */
.nav-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s;
    font-size: 16px;
    position: relative;
}

/* Modo escuro para botões da navbar */
body.dark-mode .nav-button {
    color: rgba(255, 255, 255, 0.8);
}

/* Efeito ao passar o mouse sobre os botões da navbar */
body.dark-mode .nav-button:hover::after {
    background-color: rgba(255, 255, 255, 0.6);
}

body.dark-mode .nav-buttons{
   background-color: #1c263b;
}

/* Seção hero */
.hero-section {
    background: linear-gradient(135deg,     rgb(69, 142, 172), rgba(69, 142, 172, 0.7)); /* Azul claro no modo normal */
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
}

/* Modo escuro para a hero-section */
body.dark-mode .hero-section {
    background: linear-gradient(135deg, #1c2a3b, #0d1524); /* Azul bem escuro */
}

/* Links e seções */
.links-section {
    padding: 20px;
    text-align: center;
}

/* Modo escuro para links */
body.dark-mode .links-section {
    background-color: #1c2b3b; /* Azul escuro */
    color: rgb(220, 220, 220); /* Cor do texto mais clara */
}

body.dark-mode .modal-content{
    background-color: #0d1524;

}

body.dark-mode .buttons-container{
    background-color: rgb(7, 15, 32);
}

body.dark-mode .info-section{
    background-color: #1c263b;
}

body.dark-mode .team-section{
    background-color: #1c263b;
}


dark-mode

.link-item {
    min-width: 250px;
    min-height: 350px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid rgba(69, 142, 172, 0.5); /* Azul claro no modo claro */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Modo escuro para os links */
body.dark-mode .link-item {
    background-color: #1c293b; /* Azul escuro */
    border-color: rgba(255, 255, 255, 0.3); /* Fronteira mais suave */
    color: #ddd;
}

/* Rodapé */
.footer {
    background-color: rgb(69, 142, 172); /* Azul claro no modo normal */
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Modo escuro para o rodapé */
body.dark-mode .footer {
    background-color: #1c293b; /* Azul escuro */
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
